.ProfileCard{
    display: block;
    width: 300px;
    height: 100%;
    background-color: #FFFFFF;
    border-radius: 25px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    float: right;
}

.topprofilepart{
    height: 35%;
    background-color: #FFFFFF;
    border-radius: 25px;
    z-index: 10;
    position: relative;
    width: 100%;
}

.text{
    color: #4E6661;
    z-index: 10;
    left: 50%;
    top: 60%;
    transform: translate(-50%, 0);
    font-size: 14px;
    position: absolute;
}

#profilepicture{
    width: 110px;
    z-index: 10;
    left: 50%;
    top: 10%;
    transform: translate(-50%, 0);
    position: absolute;
    border-radius: 50%;
}

#svgprofile{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}