.ReportsCard{
    display: block;
    width: 70%;
    height: 100%;
    margin: 15px;
    background-color: #FFFFFF;
    border-radius: 25px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    text-align: left;
}

.bigTitle{
    display: block;
    color: #4E6661;
    padding: 30px;
    font-size: 30px;
}

@media screen and (max-width: 1020px){
    .ReportsCard{
        width: 100%;
        overflow-x: scroll; 
    }
} 