.ReportsCard{
    display: block;
    width: 100%;
    height: 100%;
    margin: 15px;
    background-color: #FFFFFF;
    border-radius: 25px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    text-align: left;
    overflow: hidden;
}

.bigTitle{
    display: block;
    color: #4E6661;
    padding: 30px;
    font-size: 50px;
}

@media screen and (max-width: 1260px){
    .ReportsCard{
        width: 100%;
    }

} 

.reports{
    height: 100%;
    overflow: scroll;
    position: relative;
    padding-bottom: 300px;
}

.lds-ripple {
    display: inline-block;
    position: absolute;
    top: 25%;
    left: 50%;
    width: 80px;
    height: 80px;
    transform: translateX(-50%);

  }
  .lds-ripple div {
    position: absolute;
    border: 4px solid black;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 0.5s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }

  @keyframes lds-ripple {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 0;
    }
    4.9% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 0;
    }
    5% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
  }

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
    