.Sorts{
    margin: 25px 25px 0px 25px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
}

.Sorts-content{
    display: block;
    color: #4E6661;
    font-size: 20px;
    padding: 25px;
    font-weight: bold;
    width: 160px;
}

@media screen and (max-width: 1020px){
    .Sorts{
        min-width: fit-content;
    }
} 
