.Filters{
    margin: 25px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.filters-content{
    color: #4E6661;
    font-size: 14px;
    padding: 25px;
    font-weight: bold;
}
